*.bak
bin/
build/
*/**/*.class
*/*.class
classes/
.classpath
coverage-error.log
.gradle/
.idea/
*.iml
*.ipr
*.iws
*.jar
logs/
.metadata/
out/
.project
.settings/
*.swp
target/
version_inject.properties
